<h2  class="page-header"><%= author.name%></h2>
<div class="btn-row">
<a class="btn btn-primary" href="/authors/<%= author.id%>/edit">Edit</a>
<%- include('../partials/deleteform.ejs', { url: `/authors/${ author.id }` }) %>
</div>
<h2>Books by Author</h2>
<div>
    <%- include('../partials/bookgrid', {books: books})%>
</div>